<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userDbSettings" type="System.Configuration.UserDbSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BFF.Properties.DbSettings" type="System.Configuration.ClientDbSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BFF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userDbSettings>
    <BFF.Properties.DbSettings>
      <setting name="MahApps_AppTheme" serializeAs="String">
        <value>BaseDark</value>
      </setting>
      <setting name="MahApps_Accent" serializeAs="String">
        <value>Violet</value>
      </setting>
      <setting name="Localization_Language" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="DBLocation" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="Import_YnabCsvTransaction" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="Import_YnabCsvBudget" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="Import_SavePath" serializeAs="String">
        <value>C:\</value>
      </setting>
    </BFF.Properties.DbSettings>
  </userDbSettings>
  <userSettings>
    <BFF.Properties.Settings>
      <setting name="MahApps_AppTheme" serializeAs="String">
        <value>BaseDark</value>
      </setting>
      <setting name="MahApps_Accent" serializeAs="String">
        <value>Violet</value>
      </setting>
      <setting name="DBLocation" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="Import_YnabCsvTransaction" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="Import_YnabCsvBudget" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="Import_SavePath" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="MainWindow_Width" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MainWindow_Height" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MainWindow_X" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MainWindow_Y" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MainWindow_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Culture_DefaultLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="Culture_DefaultCurrency" serializeAs="String">
        <value>de-DE</value>
      </setting>
      <setting name="Culture_DefaultDate" serializeAs="String">
        <value>de-DE</value>
      </setting>
      <setting name="Culture_SessionCurrency" serializeAs="String">
        <value>de-DE</value>
      </setting>
      <setting name="Culture_SessionDate" serializeAs="String">
        <value>de-DE</value>
      </setting>
      <setting name="Culture_DefaultDateLong" serializeAs="String">
        <value>False</value>
      </setting>
    </BFF.Properties.Settings>
  </userSettings>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>